{% extends 'layaut.html' %}

{% block content %}
    <form action="">
        <label for="">Nombre y Apellido</label>
        <input type="text">
        <label for="">Entrada</label>
        <input type="date">
        <label for="">salida</label>
        <input type="date">
        <label for="">Habitacion</label>
        <input type="text">
        <label for="">adultos</label>
        <input type="text">
        <label for="">niños</label>
        <input type="text">
        <button type="submit"> Enviar </button>
    </form>
{% endblock %}